In [1]:
from utils.preprocessing import *

C:\Users\jorge\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\libpysal\cg\alpha_shapes.py:39: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  def nb_dist(x, y):
C:\Users\jorge\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\libpysal\cg\alpha_shapes.py:165: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  def get_faces(triangle):
C:\Users\jorge\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\libpysal\cg\alpha_shapes.py:199: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  def build_faces(faces, triangles_is, num_triangles, num_faces_single):
C:\Users\jorge\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\libpysal\cg\alpha_shapes.py:261: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  def nb_mask_faces(mask, faces):

In [2]:
folder_name  = 'data/10m'

In [3]:
from_url_tif(URLs.url600s)

Downloading https://data.biogeo.ucdavis.edu/data/worldclim/v2.1/base/wc2.1_10m_bio.zip to variables/10m\10m.zip

100%|██████████| 49869449/49869449 [00:20<00:00, 2463363.19it/s]

'variables/10m'

In [2]:
independent = tif_to_dataframe('variables/10m')

In [56]:
dependent = independent.loc[[30,40,50,60,70,80], ['Latitude', 'Longitude']]
dependent['Presence'] = 1
other = independent.loc[[90, 100, 110], ['Latitude', 'Longitude']]
dependent = pd.concat([dependent, other], axis = 0)
dependent = dependent.fillna(0)
dependent

dependent.iloc[:, 0]

30    -33.666667
40    -32.000000
50    -30.333333
60    -28.666667
70    -27.000000
80    -39.500000
90    -37.833333
100   -36.166667
110   -34.500000
Name: (Latitude,), dtype: float64

In [70]:
independent.describe().loc['std': 'max', ]

,Latitude,Longitude,bio1,bio2,bio3,bio4,bio5,bio6,bio7,bio8,...,bio10,bio11,bio12,bio13,bio14,bio15,bio16,bio17,bio18,bio19
std,88.654974,57.747989,24.478697,20.916357,26.673883,652.481323,104.848541,28.744423,43.731133,282.302216,...,187.130081,188.680206,3.148737,18.988430,469.955658,21.394476,25.968735,12.195524,28.745888,22.715950
min,-180.000000,-89.833333,-54.724354,-37.781418,-66.311249,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,9.131122,0.000000,-29.686001,-72.500252,1.000000,-66.299416,-54.266876
25%,-63.666667,-71.000000,-22.733948,-10.567124,-34.203583,110.000000,28.000000,0.000000,41.519497,56.000000,...,6.000000,17.000000,7.378771,20.971506,572.262939,-6.006000,-39.290001,26.104998,-26.101292,-24.246334
50%,27.333333,19.833333,-0.555583,13.828000,-15.246708,338.000000,60.000000,5.000000,64.852318,152.000000,...,106.000000,47.000000,9.338563,26.554461,897.254761,21.529501,-21.608999,33.382751,10.727000,-9.231542
75%,93.833333,53.000000,19.047531,24.811167,12.156667,687.000000,111.000000,18.000000,100.283691,298.000000,...,225.000000,109.000000,12.356042,45.326412,1206.449341,31.344999,4.657500,41.306499,21.414000,18.559666
max,179.833333,83.666667,30.987640,38.216167,29.152992,11191.000000,2381.000000,484.000000,229.001694,5284.000000,...,5282.000000,4467.000000,21.147541,100.000000,2363.845947,48.082748,26.299999,72.301750,37.704792,37.433582

In [4]:
import math
import pandas as pd
from geopy.distance import geodesic
##Function

"""
All variables

full variable dataset.

variables: independent, dependent

def all(independent, dependent): ---> dataframe
"""

#Get presence to generate pseudo data.

data = match_variables(independent,dependent)

presence = data.loc[data.iloc[:, -1] == 1, :]


presence.loc[:, ['Latitude', 'Longitude']].values



## Distance analysis  

"""
Variables:

independent, dependent


"""

## Find distance.
import copy
def dataframe_distance(presence, independent):

    presence_points = presence.loc[:, ['Latitude', 'Longitude']].values
    
    dataframe_distance = copy.deepcopy(independent)

    for idx, point in enumerate(presence_points):
        dataframe_distance[f'Distance_{idx+1}']=dataframe_distance.apply(lambda row: geodesic(tuple(point), tuple(np.array([row['Latitude'], row['Longitude']]))).kilometers)

    filtered_dataframe = dataframe_distance[100>dataframe_distance.loc[[f'Distance_{idx + 1}' for idx in range(len(presence_points))]]>75]
    
    return filtered_dataframe

##Variables analysis    (presence, independent)

analysis = presence.describe().loc['std': 'max', ]

query_str = 


##Combine

for i in presence.loc[:, ['Latitude', 'Longitude']].values:
    print(i)
    break

NameError: name 'match_variables' is not defined

In [2]:
import numpy as np
a = np.array([1,1])

tuple(a)

(1, 1)

In [31]:
pd.merge(dataframe, dataframe1, 'right', left_index=False, right_index=False)

,Latitude,Longitude,bio1,bio2,bio3,bio4,bio5,bio6,bio7,bio8,...,bio11,bio12,bio13,bio14,bio15,bio16,bio17,bio18,bio19,Presence
0,-39.000000,83.666667,0.000000,0.000000,0.000000,115.0,21.0,5.0,48.088375,52.0,...,18.0,1.000000,100.000000,0.000000,0.500000,-0.500000,1.000000,0.000000,0.000000,1
1,-39.166667,83.333333,-17.401541,-1.622405,-30.450428,116.0,21.0,5.0,47.016830,52.0,...,18.0,4.811019,13.619200,1191.687866,1.820513,-33.504761,35.325272,-3.276068,-30.450428,1
2,-33.500000,83.333333,-18.788198,-1.945500,-31.925793,167.0,28.0,7.0,40.066563,68.0,...,29.0,7.626937,19.333052,1254.765503,2.278500,-37.171749,39.450249,-4.287833,-31.608791,1
3,-32.333333,83.500000,-18.575272,-1.453042,-31.702541,168.0,28.0,8.0,39.183586,68.0,...,29.0,7.507334,18.813370,1263.316772,3.007250,-36.896999,39.904251,-3.841042,-31.300417,1

In [30]:
prove = dataframe.loc[[0,200,234,123], :]
prove

,Latitude,Longitude,bio1,bio2,bio3,bio4,bio5,bio6,bio7,bio8,...,bio10,bio11,bio12,bio13,bio14,bio15,bio16,bio17,bio18,bio19
0,-39.000000,83.666667,0.000000,0.000000,0.000000,115.0,21.0,5.0,48.088375,52.0,...,18.0,18.0,1.000000,100.000000,0.000000,0.500000,-0.500000,1.000000,0.000000,0.000000
200,-39.166667,83.333333,-17.401541,-1.622405,-30.450428,116.0,21.0,5.0,47.016830,52.0,...,45.0,18.0,4.811019,13.619200,1191.687866,1.820513,-33.504761,35.325272,-3.276068,-30.450428
234,-33.500000,83.333333,-18.788198,-1.945500,-31.925793,167.0,28.0,7.0,40.066563,68.0,...,61.0,29.0,7.626937,19.333052,1254.765503,2.278500,-37.171749,39.450249,-4.287833,-31.608791
123,-32.333333,83.500000,-18.575272,-1.453042,-31.702541,168.0,28.0,8.0,39.183586,68.0,...,60.0,29.0,7.507334,18.813370,1263.316772,3.007250,-36.896999,39.904251,-3.841042,-31.300417

In [18]:
dataframe.loc[30:40, :]

,Latitude,Longitude,bio1,bio2,bio3,bio4,bio5,bio6,bio7,bio8,...,bio10,bio11,bio12,bio13,bio14,bio15,bio16,bio17,bio18,bio19
30,-33.666667,83.666667,-12.751192,-0.584398,-21.889954,162.0,27.0,7.0,40.694435,67.0,...,59.0,28.0,5.532338,19.279797,887.819641,3.052778,-25.642221,28.695000,-2.354491,-21.536110
31,-33.500000,83.666667,-8.298641,-0.725472,-13.966532,176.0,28.0,8.0,37.052612,70.0,...,62.0,32.0,3.778189,20.982716,551.475525,1.608086,-16.398113,18.006199,-1.832884,-13.699146
32,-33.333333,83.666667,-8.487534,-0.721558,-14.224637,183.0,29.0,9.0,35.411968,71.0,...,64.0,34.0,3.773754,20.454859,561.998047,1.829076,-16.620108,18.449184,-1.871694,-13.925724
33,-33.166667,83.666667,-9.343084,-0.802159,-15.674498,188.0,30.0,9.0,36.571224,74.0,...,66.0,34.0,4.022615,19.966635,619.088379,1.864157,-18.282530,20.146687,-2.070080,-15.342922
34,-33.000000,83.666667,-9.757979,-0.415741,-16.661329,178.0,28.0,8.0,36.414471,70.0,...,62.0,32.0,4.327506,19.617443,676.280212,2.549346,-19.510130,22.059477,-1.810730,-16.327942
35,-32.833333,83.666667,-9.716084,-0.285111,-16.753222,166.0,27.0,7.0,38.869377,67.0,...,59.0,29.0,4.448111,19.826658,686.192688,2.706000,-19.729000,22.434999,-1.670722,-16.458944
36,-32.666667,83.666667,-12.335417,-0.253437,-21.419687,161.0,27.0,7.0,39.400524,65.0,...,58.0,28.0,5.488229,19.188145,881.646790,3.460313,-25.141876,28.602188,-2.033542,-21.067345
37,-32.500000,83.666667,-15.211241,-0.379796,-26.309593,168.0,28.0,7.0,39.593899,68.0,...,60.0,29.0,6.460102,18.602701,1079.254028,4.090353,-30.636333,34.726688,-2.587942,-25.813612
38,-32.333333,83.666667,-16.687712,-0.916102,-28.496157,190.0,30.0,9.0,35.538399,74.0,...,66.0,35.0,6.685593,18.282734,1148.085693,3.625424,-32.942371,36.567795,-3.252090,-27.913671
39,-32.166667,83.666667,-15.042768,-1.354345,-25.187559,211.0,32.0,11.0,31.996931,79.0,...,71.0,42.0,5.741667,18.325790,992.629761,2.436429,-28.894644,31.331072,-3.381012,-24.564049
40,-32.000000,83.666667,-13.793481,-1.521033,-22.864206,211.0,32.0,11.0,31.996931,79.0,...,71.0,42.0,5.226261,18.556635,889.586548,1.920664,-26.243174,28.163837,-3.349939,-22.291021

In [67]:
import georasters as gr

for idx, file in enumerate(os.listdir('data/10m/')):
    path = os.path.join('data/10m/', file)
    variable = gr.from_file(path).to_pandas()
    if idx == 0:
        dataframe = variable.loc[:, ['x', 'y']].rename(columns = {'x':'Latitude', 'y': 'Longitude'})
    dataframe = pd.concat([dataframe,variable[True].rename(file.split('_')[2]+'_'+ file.split('_')[-1][:-4])], axis = 1)
dataframe.columns = [list(dataframe.columns.values[:3]) + list(dataframe.columns.values[13:]) + list(dataframe.columns.values[3:13])]
    
dataframe

,Latitude,Longitude,bio_1,bio_2,bio_3,bio_4,bio_5,bio_6,bio_7,bio_8,...,bio_10,bio_11,bio_12,bio_13,bio_14,bio_15,bio_16,bio_17,bio_18,bio_19
0,-39.000000,83.666667,0.000000,0.000000,0.000000,115.0,21.0,5.0,48.088375,52.0,...,18.0,18.0,1.000000,100.000000,0.000000,0.500000,-0.500000,1.000000,0.000000,0.000000
1,-38.833333,83.666667,0.000000,0.000000,0.000000,115.0,21.0,5.0,48.088375,52.0,...,18.0,18.0,1.000000,100.000000,0.000000,0.500000,-0.500000,1.000000,0.000000,0.000000
2,-38.666667,83.666667,-2.592391,-0.164734,-4.839372,116.0,21.0,5.0,47.691750,52.0,...,45.0,18.0,1.652899,25.961758,198.829224,0.627536,-5.739130,6.366667,-0.310870,-4.839372
3,-38.500000,83.666667,-8.346475,-0.514103,-15.612821,115.0,21.0,5.0,48.088375,52.0,...,45.0,18.0,3.143376,17.081184,641.110840,0.933333,-17.469231,18.402563,-1.001709,-15.612821
4,-38.333333,83.666667,-16.416666,-0.976667,-30.786667,115.0,21.0,5.0,48.088375,52.0,...,45.0,18.0,5.220000,14.762444,1264.666504,1.400000,-33.959999,35.360001,-1.950000,-30.786667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
808048,179.166667,-89.833333,-32.810093,-21.540417,-40.031208,6.0,6.0,0.0,115.470055,6.0,...,0.0,6.0,6.080729,22.368780,802.212952,-16.740499,-43.924500,27.184000,-39.722584,-26.626833
808049,179.333333,-89.833333,-32.812019,-21.537500,-40.041042,6.0,6.0,0.0,115.470055,6.0,...,0.0,6.0,6.087208,22.369780,802.752747,-16.725000,-43.936749,27.211748,-39.731293,-26.622749
808050,179.500000,-89.833333,-32.812908,-21.535334,-40.048916,6.0,6.0,0.0,115.470055,6.0,...,0.0,6.0,6.090854,22.370642,803.128296,-16.720001,-43.946999,27.226997,-39.738415,-26.617834
808051,179.666667,-89.833333,-32.812531,-21.532375,-40.057209,6.0,6.0,0.0,115.470055,6.0,...,0.0,6.0,6.096980,22.386562,803.535583,-16.720001,-43.954998,27.234997,-39.745209,-26.608749
808052,179.833333,-89.833333,-31.620333,-20.336834,-38.910919,7.0,6.0,0.0,109.254471,6.0,...,0.0,6.0,5.908500,21.833601,805.375366,-15.701000,-42.762501,27.061501,-38.600292,-25.366667

In [69]:
dataframe.columns.values

array([('Latitude',), ('Longitude',), ('bio_1',), ('bio_2',), ('bio_3',),
       ('bio_4',), ('bio_5',), ('bio_6',), ('bio_7',), ('bio_8',),
       ('bio_9',), ('bio_10',), ('bio_11',), ('bio_12',), ('bio_13',),
       ('bio_14',), ('bio_15',), ('bio_16',), ('bio_17',), ('bio_18',),
       ('bio_19',)], dtype=object)

array([('Latitude',), ('Longitude',), ('bio_1',), ('bio_10',),
       ('bio_11',), ('bio_12',), ('bio_13',), ('bio_14',), ('bio_15',),
       ('bio_16',), ('bio_17',), ('bio_18',), ('bio_19',), ('bio_2',),
       ('bio_3',), ('bio_4',), ('bio_5',), ('bio_6',), ('bio_7',),
       ('bio_8',), ('bio_9',)], dtype=object)