In [1]:
from utils.preprocessing import *
from utils.pseudo_abscence import *
from utils.random_utils import *

C:\Users\jorge\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\libpysal\cg\alpha_shapes.py:39: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  def nb_dist(x, y):
C:\Users\jorge\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\libpysal\cg\alpha_shapes.py:165: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  def get_faces(triangle):
C:\Users\jorge\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\libpysal\cg\alpha_shapes.py:199: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  def build_faces(faces, triangles_is, num_triangles, num_faces_single):
C:\Users\jorge\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\libpysal\cg\alpha_shapes.py:261: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  def nb_mask_faces(mask, faces):

In [2]:
data_preprocess(URLs.url600s, 75, 200, boxes.South_America)

Downloading https://data.biogeo.ucdavis.edu/data/worldclim/v2.1/base/wc2.1_10m_bio.zip to variables/10m\10m.zip

100%|██████████| 49869449/49869449 [00:20<00:00, 2382277.81it/s]

Select the dataset:

1. data\data.csv

Analyzing locations...:   0%|          | 0/214 [00:00<?, ?it/s]

ValueError: Must have equal len keys and value when setting with an iterable

In [11]:
file_list = glob.glob('/data/*.csv}')
file_list

[]

In [15]:
file_list = glob.glob(os.path.join('data/', "*.csv")) + glob.glob(os.path.join('data/', "*.xlsx"))

In [16]:
file_list

['data\\data.csv']

In [14]:
glob.glob('data/*.csv')

['data\\data.csv']

In [17]:
dependent.describe().T['mean']

Longitude   -49.153361
Latitude    -14.795433
Presence      1.000000
Name: mean, dtype: float64

In [ ]:
independent = tif_to_dataframe('variables/10m', bounding_box=boxes.South_America)

In [18]:
independent

,Longitude,Latitude,bio1,bio10,bio11,bio12,bio13,bio14,bio15,bio16,...,bio18,bio19,bio2,bio3,bio4,bio5,bio6,bio7,bio8,bio9
0,-72.500000,12.0,28.737499,29.900000,27.683334,430.0,111.0,1.0,100.060379,274.0,...,53.0,29.0,7.858334,74.135223,90.607178,34.200001,23.600000,10.600000,28.783333,27.750000
1,-72.333333,12.0,29.110685,30.375687,27.985098,454.0,124.0,3.0,96.544411,277.0,...,70.0,31.0,8.633235,74.443329,97.296761,35.108822,23.511765,11.597057,29.066175,28.118628
2,-72.166667,12.0,29.235428,30.567167,28.038000,479.0,125.0,3.0,90.852798,282.0,...,75.0,37.0,9.058770,74.468925,102.796455,35.485748,23.321251,12.164497,29.146292,28.205000
3,-72.000000,12.0,28.865593,30.166374,27.623667,493.0,117.0,3.0,80.940987,269.0,...,93.0,33.0,9.022021,74.691788,103.466911,34.981750,22.902750,12.079000,28.866749,27.763416
4,-71.833333,12.0,28.474209,29.716999,27.196499,502.0,115.0,3.0,79.263947,269.0,...,111.0,30.0,8.932584,75.043221,103.657364,34.448502,22.545250,11.903252,28.605957,27.299541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57004,-67.000000,-55.0,5.071509,8.437613,1.409685,675.0,75.0,33.0,24.112915,202.0,...,185.0,150.0,5.908333,43.560493,284.866028,12.164189,-1.399324,13.563514,7.789527,3.481869
57005,-66.833333,-55.0,5.472349,8.848485,1.822727,667.0,71.0,34.0,23.011496,201.0,...,180.0,148.0,5.893182,43.565189,285.291412,12.609091,-0.918182,13.527272,5.727273,3.881818
57006,-66.666667,-55.0,4.568056,7.923569,0.925084,651.0,71.0,32.0,23.512001,194.0,...,181.0,143.0,5.881397,43.517067,283.551910,11.688889,-1.826263,13.515151,4.847138,2.990741
57007,-66.500000,-55.0,4.617448,7.952778,1.011979,645.0,69.0,32.0,23.508425,194.0,...,176.0,144.0,5.844271,43.519238,281.102234,11.701041,-1.728125,13.429166,4.892708,3.053819
57008,-66.333333,-55.0,5.266666,8.599999,1.650000,657.0,74.0,33.0,23.810234,197.0,...,186.0,140.0,5.900000,43.703705,281.419556,12.400000,-1.100000,13.500000,5.550000,3.716666

In [ ]:
def haversine(lat1, lon1, lat2, lon2):
    """
    Calculate the great-circle distance between two points 
    on the Earth's surface using the Haversine formula.
    """
    R = 6371.0  # Earth radius in kilometers

    lat1_rad = np.radians(lat1)
    lon1_rad = np.radians(lon1)
    lat2_rad = np.radians(lat2)
    lon2_rad = np.radians(lon2)

    dlat = lat2_rad - lat1_rad
    dlon = lon2_rad - lon1_rad

    a = np.sin(dlat / 2.0) ** 2 + np.cos(lat1_rad) * np.cos(lat2_rad) * np.sin(dlon / 2.0) ** 2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))

    distance = R * c
    return distance

In [7]:
len(dependent)

NameError: name 'dependent' is not defined

In [8]:
dependent = pd.read_csv('data/data.csv')

In [9]:
dependent['Presence'] = 1
dependent

     Longitude   Latitude  Presence
0   -46.604932 -10.488901         1
1   -46.595491 -10.569050         1
2   -46.594709 -10.514405         1
3   -46.569772 -10.482991         1
4   -46.616531 -10.445170         1
..         ...        ...       ...
209 -48.947257  -8.752118         1
210 -48.983617  -8.723262         1
211 -70.256001   0.213383         1
212 -37.519376 -10.755561         1
213 -37.471038 -10.582747         1

[214 rows x 3 columns]

In [ ]:

for idx, isolated_vector in enumerate(dependent.values):
    
    independent['distance'] = independent.apply(lambda row: haversine(isolated_vector[1], isolated_vector[0], row['Latitude'], row['Longitude']), axis=1)
    
    nearest = independent[independent['distance'] == independent['distance'].min()]

    dependent.iloc[idx,:] = (float(nearest['Longitude']), float(nearest['Latitude']), isolated_vector[2])

In [ ]:
dependent

In [ ]:
float(nearest['Latitude']), float(nearest['Longitude'])

In [ ]:
df

In [ ]:
import pandas as pd
import numpy as np

# Create a DataFrame from your dataset
data = {
    'latitude': [40.7128, 34.0522, 51.5074],  # Example latitudes
    'longitude': [-74.0060, -118.2437, -0.1278],  # Example longitudes
    # Add more latitude and longitude data here
}

df = pd.DataFrame(data)

# Define the isolated vector
isolated_vector = (37.7749, -122.4194)  # San Francisco

# Calculate distances using Haversine formula and add a new column to the DataFrame
df['distance'] = df.apply(lambda row: haversine(isolated_vector[0], isolated_vector[1], row['latitude'], row['longitude']), axis=1)

# Find the nearest vector
nearest_row = df[df['distance'] == df['distance'].min()]

# Print the nearest vector and distance
print("Nearest vector:")
print(nearest_row)

print("Distance:", nearest_row['distance'].values[0], "km")

In [11]:
import copy 
dep_copy = copy.deepcopy(dependent)

##Variables analysis    (presence, independent)

analysis = dependent.describe().loc[['mean'], ].iloc[:, 2:-1].T.reset_index(drop=True)

Empty DataFrame
Columns: [mean]
Index: []

In [ ]:
import numpy as np

def haversine(lat1, lon1, lat2, lon2):
    """
    Calculate the great-circle distance between two points 
    on the Earth's surface using the Haversine formula.
    """
    R = 6371.0  # Earth radius in kilometers

    lat1_rad = np.radians(lat1)
    lon1_rad = np.radians(lon1)
    lat2_rad = np.radians(lat2)
    lon2_rad = np.radians(lon2)

    dlat = lat2_rad - lat1_rad
    dlon = lon2_rad - lon1_rad

    a = np.sin(dlat / 2.0) ** 2 + np.cos(lat1_rad) * np.cos(lat2_rad) * np.sin(dlon / 2.0) ** 2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))

    distance = R * c
    return distance

def find_nearest_vector(dataset, isolated_vector):
    min_distance = float('inf')
    nearest_vector = None

    for vector in dataset:
        distance = haversine(isolated_vector[0], isolated_vector[1], vector[0], vector[1])
        if distance < min_distance:
            min_distance = distance
            nearest_vector = vector

    return nearest_vector, min_distance

# Example usage
dataset = [
    (40.7128, -74.0060),  # New York City
    (34.0522, -118.2437),  # Los Angeles
    (51.5074, -0.1278),    # London
]

isolated_vector = (37.7749, -122.4194)  # San Francisco

nearest_vector, distance = find_nearest_vector(dataset, isolated_vector)

print("Nearest vector:", nearest_vector)
print("Distance:", distance, "km")

In [4]:
np.linalg.norm(2-3)

1.0

In [ ]:
import pandas as pd
data = {(1,2),(3,4)}
pd.DataFrame(data)